.header-container {
  display: flex;
  align-items:  center;
  justify-content: space-between;
  width: 100%;
  margin-bottom: 25px;

  .logo-container {
    width: 60px;
    height: 55px;
    
    .logo {
      fill: white;
      transition: transform .8s ease-in-out;

      &:hover {
        transform: rotate(-200deg);
      }
    }
  }

  .options-container {
    font-size: 1.1rem;
  }
}