.header-container {
  display: flex;
  align-items:  center;
  justify-content: space-between;
  width: 100%;
  margin-bottom: 25px;

  .logo-container {
    font-weight: bold;
    font-size: 1.4rem;
  }

  .options-container {
    font-size: 1.1rem;
  }
}