*,
:before,
:after {
  box-sizing: border-box;
}

body {
    background-color: #100e17;
    color: #fff;
    font-family: 'Roboto', sans-serif;
    padding: 20px 40px;
}

a {
  color: #fff;
  text-decoration: none;
}

a:hover {
  opacity: 40%;
}